/* to do list */
li{
    display:block;
    font-size: 15px;
    font-family: Noto Sans Mono, Helvetica, sans-serif;

    text-align: center;
    color:white;
    margin-right: 11%;
}
.strikethrough{
    text-decoration: line-through;
    color: purple;
    display:block;
    text-align: center;
}
body{
    background: rgb(39, 36, 41);
}
input::placeholder {
    font-family: Noto Sans Mono, Helvetica, sans-serif;
    font-size: 14px;
    color:gray;
}
input{
    border-radius: 100px;
    border: none;
    margin-top: 7%;
    width: 45%;
    margin-right: 2%;
    margin-left: 2%;
}
input[type="text"]
{
    font-family: Noto Sans Mono, Helvetica, sans-serif;
    font-size: 14px;
    color:gray;
}
section{
    text-align: center;
}
.window {
    width: 400px;
    height: 600px;
    background: white;
    margin: 30px auto;
    border-radius: 25px;
    margin-top: 1%;
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),
                  url("https://i.pinimg.com/564x/74/0a/b5/740ab5a9ee7ee351584ff25906c7f181.jpg");
                  background-size: 50%;
                  width:70%;
                  height:500px;
                }
.title {
	background: rgba(39, 36, 41);
    width: 40%;
    border: none;
    border-radius: 50px;
    text-align: center;
    margin: 30px auto;
    margin-top: 4%;
    margin-bottom: 1%;
}
h1{
    font-size: 60px;
    font-weight:bolder;
    text-align: center;
    color:rgb(152, 97, 200);
    margin:0;
    font-family: Sacramento, Helvetica, sans-serif;
    margin-bottom: 1%;
    width:100%;
}
button{
    background: hotpink;
    border: 0;
    cursor: pointer;
    color: white;
    border-radius: 100px;
    font-family: Noto Sans Mono, Helvetica, sans-serif;
    font-size: 13px;
}
#clearAll,
#hideCompleted{
    margin-top: 8%;
}

@media screen and (max-width: 621px) {
    input::placeholder{
        font-size: 12px;
    }
    input[type="text"]
    {
        font-size: 12px;
    }
    button{
        font-size:10px;
    }
}
@media screen and (max-width: 498px) {
    input::placeholder{
        font-size: 12px;
    }
    input[type="text"]
    {
        font-size: 12px;
    }
    input{
        width: 50%;
    }
    button{
        font-size:10px;
    }
}
@media screen and (max-width: 475px) {
    .window {
        background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),
                      url("https://i.pinimg.com/564x/74/0a/b5/740ab5a9ee7ee351584ff25906c7f181.jpg");
                      background-size: 100%;
                      width:70%;
                      height:505px;
                    }
}
@media screen and (max-width: 475px) {
    input{
        width: 58%;
    }
}
@media screen and (max-width: 431px) {
    input::placeholder{
        font-size: 12px;
    }
    input[type="text"]
    {
        font-size: 11px;
    }
    input{
        width: 54%;
    }
    button{
        font-size:10px;
    }
    h1{
        font-size:60px;
    }
    .window {
        background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),
                      url("https://i.pinimg.com/564x/74/0a/b5/740ab5a9ee7ee351584ff25906c7f181.jpg");
                      height:478px;
                    }
}
@media screen and (max-width: 425px) {
    input{
        width: 56%;
    }
    h1{
        font-size:40px;
        width:100%;
    }
    .title{
        width:100%;
    }
}
@media screen and (max-width: 407px) {
    input::placeholder{
        font-size: 11px;
    }
    input[type="text"]
    {
        font-size: 11px;
    }
    input{
        width: 54%;
    }
    button{
        font-size:10px;
    }

    }
    .window {
        background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),
                      url("https://i.pinimg.com/564x/74/0a/b5/740ab5a9ee7ee351584ff25906c7f181.jpg");
                      background-size: 100%;
                      width:70%;
                      height:457px;
                    }
}

@media screen and (max-width: 388px) {
    input::placeholder{
        font-size: 11px;
    }
    input[type="text"]
    {
        font-size: 11px;
    }
    input{
        width: 60%;
    }
    button{
        font-size:10px;
    }

    .window {
        background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),
                      url("https://i.pinimg.com/564x/74/0a/b5/740ab5a9ee7ee351584ff25906c7f181.jpg");
                      background-size: 100%;
                      width:70%;
                      height:438px;
                    }
}
@media screen and (max-width: 362px) {
    input{
        width: 65%;
    }
    form{
        padding-top: 10px;
    }

    .window {
        background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),
                      url("https://i.pinimg.com/564x/74/0a/b5/740ab5a9ee7ee351584ff25906c7f181.jpg");
                      background-size: 100%;
                      width:70%;
                      height:400px;
                    }
}
@media screen and (max-width: 353px) {
    input{
        width: 70%;
    }
    form{
        padding-top: 10px;
    }

    .window {
        background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),
                      url("https://i.pinimg.com/564x/74/0a/b5/740ab5a9ee7ee351584ff25906c7f181.jpg");
                      background-size: 100%;
                      width:70%;
                      height:390px;
                    }
}
@media screen and (max-width: 318px) {
    input{
        width: 72%;
    }
    form{
        padding-top: 10px;
    }

    .window {
        background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),
                      url("https://i.pinimg.com/564x/74/0a/b5/740ab5a9ee7ee351584ff25906c7f181.jpg");
                      background-size: 100%;
                      width:70%;
                      height:360px;
                    }
}